{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 100%; }
    </style>
{% endblock %}

{% block content %}
<div class='span10 offset2'>
    <h1 class="text-info">Online Apparel Shops</h1>
    <h3>web-site survey - instructions</h3>
    <div>&nbsp;</div>
 <div class="row-fluid">
  <div class='span9'>
    <p class="lead">The purpose of this questionnaire is to evaluate the quality of an online apparel shop: <a href='http://www.gap.com' target='_blank'>Gap.com</a>. Please evaluate these sites using a 1 to 7 scale where:</p>
    <div class="row-fluid">
  <div class='span5 offset3'>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Score</th>
              <th>Meaning</th>
            </tr>
        </thead>
        <tbody>
              <tr>
                <td>1</td>
                <td>strongly disagree</td>
              </tr>
              <tr>
                <td>4</td>
                <td>neutral</td>
              </tr>
              <tr>
                <td>7</td>
                <td>strongly agree</td>
              </tr>
        </tbody>
    </table>
  </div></div>
    <p class="lead">You will also be asked to rate how important the quality is to you in this particular context, i.e., your sporting activities. The importance rating is on a 1 to 7 scale where:</p>
    <div class="row-fluid">
  <div class='span5 offset3'>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Score</th>
              <th>Meaning</th>
            </tr>
        </thead>
        <tbody>
              <tr>
                <td>1</td>
                <td>least important</td>
              </tr>
              <tr>
                <td>7</td>
                <td>most important</td>
              </tr>
        </tbody>
    </table>
     </div></div>
    <p class="lead">There are no right or wrong answers - all that we are interested in is a number that best shows your perception of the quality of the site you are evaluating. If you feel unable to answer a question please select the 'not applicable' (n/a) option.</p>

    <p class="lead">When you click the button below to start the questionnaire, you will be redirected to the next page that contains the qualities to be evaluated. You can also hover over on the questions that display tooltips regarding the quality definitions. Once you have completed the questionnaire please click the submit button and you will see a "Thank you" window.</p>

  <div class="text-center" style="margin-top: 90px">
    <p class="lead"><strong>Start the questionnaire</strong> <a class="btn btn-primary" href="/survey">
            Start
        </a></p>
 </div>
    </div>
    </div>
  </div>
{% endblock content %}

{% block tail_script %}
    <script>
    </script>
{% endblock %}