@charset "utf-8";
/* CSS Document */

.title{
	margin-bottom: 10px;
	text-align: center;
}

.title01_dark{
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
}

.title01_light{
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: #b1b1b1;
}

.title_blue{
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: #5977f3;
}

.body{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
}

.footer{
	font-size: 8pt;
	font-family: Arial, Helvetica, sans-serif;
	color: #8c8c8c;
	text-align: right;
}

#btn_menu_01{
	width: 160px;
	height: 50px;
	background: url(../images/common/btn_view_flash.gif) no-repeat;
}

.table_text{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	text-align: center;
}

.advertise_table_text_green{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #2da38d;
	text-align: left;
	font-weight: bold;
}

.link_green{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #2da38d;
}

.link_green_a{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #003f33;
}
